:root {
    --square_w: 100px;
    --square_h: 100px;
}

/* esercizio 1 */
.ex-1-square{
    transition: all 2s;
}
.ex-1-square:hover{
    background-color: gold;
}
/* esercizio 2 */
.ex-2-square{
    transition: all ease-in-out 3s;
}
.ex-2-square:active{
    width: 100%;
}
/* esercizio 3 */
.ex-3-square{
    transition: all linear .5s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* esercizio 4 */
.ex-4-square{
    transition: all linear 1s;
}
.ex-4-square:hover{
    opacity: 0;
}
/* eserzicio 5 */
.ex-5-square{
    transition: all linear 1s;
}
.ex-5-square:hover{
    width: calc(var(--square_w) + 40px);
    height: calc(var(--square_h) + 40px);
}
.ex-5-square:active{
    width: calc(var(--square_w) - 80px);
    height: calc(var(--square_h) - 80px);
}
/* esercuzio 6 */
.ex-6-img{
    transition: all linear 1s;
}
.ex-6-img:hover{
    filter: grayscale(100%);;
}
/* esercizio 7 */
.ex-7-img{
    transition: all 3s;
}
.ex-7-img:hover{
    filter: drop-shadow(8px 8px 10px red) invert(75%);
}
/* esercizio 8 */
.ex-8-img{
    transition: all 3s;
}
.ex-8-img:hover{
    filter: blur(5px) saturate(75%);
    border-radius: 30px;
}
/* esercizio 9 */